allow-build-scripts=@whiskeysockets/baileys,sharp,esbuild,protobufjs,fs-ext,node-pty,@lydell/node-pty,@matrix-org/matrix-sdk-crypto-nodejs,@napi-rs/canvas
# authenticate-pam is Unix-only and will be skipped on Windows during build
