{
  "meta": {
    "lastTouchedVersion": "2026.2.3-1",
    "lastTouchedAt": "2026-02-28T09:27:04.055Z"
  },
  "models": {
    "providers": {
      "ollama": {
        "api": "openai-completions",
        "apiKey": "ollama-local",
        "baseUrl": "http://10.184.60.127:11434/v1",
        "models": [
          {
            "contextWindow": 262144,
            "cost": {
              "cacheRead": 0,
              "cacheWrite": 0,
              "input": 0,
              "output": 0
            },
            "id": "qwen3.5:27b",
            "input": [
              "text",
              "image"
            ],
            "name": "qwen3.5:27b",
            "reasoning": false
          }
        ]
      }
    }
  },
  "wizard": {
    "lastRunAt": "2026-02-28T09:27:03.096Z",
    "lastRunVersion": "2026.2.3-1",
    "lastRunCommand": "onboard",
    "lastRunMode": "local"
  },
  "auth": {
    "profiles": {
      "zai:default": {
        "provider": "zai",
        "mode": "api_key"
      }
    }
  },
  "agents": {
    "defaults": {
      "model": {
        "primary": "ollama/qwen3.5:27b"
      },
      "models": {
        "zai/glm-4.7": {
          "alias": "GLM"
        }
      },
      "workspace": "C:\\Users\\CPC0057\\.openclaw\\workspace",
      "maxConcurrent": 4,
      "subagents": {
        "maxConcurrent": 8
      }
    }
  },
  "messages": {
    "ackReactionScope": "group-mentions"
  },
  "commands": {
    "native": "auto",
    "nativeSkills": "auto"
  },
  "channels": {
    "qqbot": {
      "enabled": true,
      "appId": "102837287",
      "clientSecret": "FUk0HYq9Sm7SoAXuIh6WwNoGiBe8c7c8"
    }
  },
  "gateway": {
    "port": 18789,
    "mode": "local",
    "bind": "loopback",
    "auth": {
      "mode": "token",
      "token": "5f3b167e1ab7885593f39d656fc7fdcea9b208aba5f51e9b"
    },
    "tailscale": {
      "mode": "off",
      "resetOnExit": false
    }
  },
  "skills": {
    "install": {
      "nodeManager": "npm"
    }
  },
  "plugins": {
    "entries": {
      "qqbot": {
        "enabled": true
      }
    }
  }
}
